{% load static %}
<footer class="fi-footer">

    <div class="container py-5 pb-3">

        <div class="row gy-4 align-items-start">

            <!-- COLUMNA 1: IDENTIDAD -->
            <div class="col-lg-4">
                <img src="{% static 'img/FI_Vertical-byn_invertida.png' %}"
                     alt="Facultad de Ingeniería UNMDP"
                     class="fi-footer-logo mb-3">

                <!-- <p class="fi-footer-text">
                    Facultad de Ingeniería<br>
                    Universidad Nacional de Mar del Plata
                </p> -->
            </div>

            <!-- COLUMNA 2: CONTACTO -->
            <div class="col-lg-4">
                <h6 class="fi-footer-title">Contacto</h6>

                <ul class="fi-footer-list">
                    <li>
                        <i class="bi bi-geo-alt"></i>
                        Av. Juan B. Justo 4302 – Mar del Plata
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        (0223) 481-0046 / 481-1262
                    </li>                    
                    <li>
                        <i class="bi bi-envelope"></i>
                        contacto@fi.mdp.edu.ar
                    </li>
                    <li>
                        <i class="bi bi-clock"></i>
                        Lunes a viernes – 8:00 a 19:00 hs
                    </li>
                </ul>
            </div>

            <!-- COLUMNA 3: ACCESOS / REDES -->
            <div class="col-lg-4">
                <h6 class="fi-footer-title">Seguinos</h6>

                <div class="fi-footer-redes">
                    <a href="https://www.facebook.com/ingenieria.unmdp/?locale=es_LA" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/ingenieria.unmdp/?hl=es" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.youtube.com/results?search_query=facultad+de+ingenier%C3%ADa+unmdp" aria-label="YouTube"><i class="bi bi-youtube"></i></a>
                </div>
            </div>

        </div>

    </div>

    <!-- BANDA INFERIOR -->
    <div class="fi-footer-bottom">
        <div class="container">
            © Facultad de Ingeniería – Universidad Nacional de Mar del Plata
        </div>
    </div>

</footer>